body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 15px;
}
.App input[type="text"] {
  padding: 5px;
  font-size: 14px;
  border: 2px solid rgb(117, 117, 247);
  border-radius: 5px;
}
.App select {
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}
